@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #10b981;
        --primary-dark:#6ee7b7;
        --primary-light:#047857;
        --secondary: #ffff;
        --background: #ecfdf5;
        --task-bg: #c2c2c2;
        --tag-bg: #c2c2c2;
        --tag-color: #c2c2c2;
        --alert:#dc2626;

    }

    .nav-side-Bar{
        @apply duration-300 min-h-screen px-4 flex flex-col bg-primary border-r shadow-sm text-secondary
    }
    .li-side-bar{
        @apply flex flex-row mt-10 gap-4 rounded-md pl-2 h-10 cursor-pointer hover:text-primary hover:bg-background
    }
    
    .dark {
    }
  }
  